{% extends 'base.html' %}
{% block conteudo %}

<div class="jumbotron mt-4">
<div class="row justify-content-center">
<div class="card col-12 col-lg-6">
    <div class="card-header">
      Tem certeza que deseja remover o livro abaixo?
    </div>
    <div class="car-body p-3">
      <h5 class="card=title">{{livro_bd.titulo}}

      <hr>
      <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Remove</button>
    </div>
</div>
</div>
</div>
{% endblock conteudo %}
